.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 65px;

    .logo {
        img {
            width: 100px;
            filter: brightness(10);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 30px;

        .menu-li .menu-link {
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .menu-dropdown {
            display: none;
        }
    }
}