.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 65px;
    &.navbar-light{
        position: relative;
        padding: 4px 65px;
        box-shadow: 0px 2px 3px #00000025;
        .logo{
            img{
                filter: brightness(1);
            }
        }
        .menu{
            
        .menu-li .menu-link {
            color: #242738;
            font-size: 15px;
            font-weight: 400;
        }
        }
    }

    .logo {
        img {
            width: 100px;
            filter: brightness(10);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 30px;

        .menu-li .menu-link {
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .menu-dropdown {
            display: none;
        }
    }
}