section {
    padding: 120px 0;
    background-color: #f9f9f9;
    &.bg-light{
        background-color: #fff;
    }
    &.kali-everywhere{
        background: #f9f9f9 url('./img/neon-background.svg');
        background-size: cover;
        background-position: 50%;
        text-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    }
    .highlight{
            width: 90%;
            max-width: 700px;
            margin: auto;
        h1{
            font-size: 45px;
            color: #202738;
            text-align: center;
            margin-bottom: 35px;
        }
        h2{
            font-size: 32px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 26px;
        }
        h3{
            font-size: 26px;
            font-weight: 400;
            text-align: center;
        }
        p{
            font-size: 19px;
            color: #636363;
            margin: 19px 0;
            text-align: center;
        }
        .text-left{
            text-align: left;
        }
    } 
    .highlight-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1110px;
        margin: auto;
        .card{            
            width: 370px;
            line-height: 1.8;
            padding: 20px 20px 0;
            h4{
                color: #242738;
            }
            p{
                color: #636363;
                font-size: 15px;
            }
        }
    }
    figure {
        position: relative;
        max-width: 1340px;
        margin: 60px auto 100px;
        width: 90%;
        img:first-child {
            width: 100%;
            margin-top: -2.5%;
            margin-left: -3.5%;
            height: auto;
        }
        img:last-child {
            position: absolute;
            width: 77%;
            left: 8%;
            border-radius: 4px;
            top: 2%;
        }
    }
    .desktop_prefer_main{
        max-width: 1440px;
        margin: auto;
        .desktop_prefer{
            padding: 20px 75px;
            margin: 60px auto;
            .grid-row{
                display: flex;
                .text-content{
                    max-width: 400px;
                    margin: auto;
                    h3{
                        font-size: 26px;
                        font-weight: 700;
                        margin-bottom: 1rem;
                        img{
                            display: inline-block;
                            height: 1.77em;
                            margin: .166em;
                            margin-right: .4em;
                            vertical-align: -.6em;
                            border-radius: 999px;
                            box-shadow: 0 1px 5px rgb(0 0 0 / 20%);

                        }
                    }
                    p{
                        line-height: 1.8;
                        font-size: 16px;
                        color: #636363;
                    }
                }
                .img-content{
                    height: 370px;
                    margin-left: 60px;
                    &.right{
                        margin-right: 60px;
                        margin-left: 0;
                    }
                    img{
                        border-radius: 6px;
                        box-shadow: 0 10px 50px rgb(0 0 0 / 40%);
                    }
                }
            }
        }
    }
    .blog_row{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 750px;
        .blog_card{
            display: flex;
            flex-direction: column;
            margin: 10px;
            width: 350px;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 0 5px 15px rgba(0,0,0,7%);
    
            .img{
                height: 185px;
                img{
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            .card_body{
                padding: 20px;
                .main_text{
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                p{                    
                    max-height: 220px;
                    overflow: hidden;
                    position: relative;
                    color: #636363;
                    &::after{    
                        content: "";
                        display: block;
                        height: 20px;
                        width: 100%;
                        background: linear-gradient(to top,#fff,rgba(255,255,255,0));
                        position: absolute;
                        bottom: 0;
                    }
                }

            }
            .card_bottom{
                padding: 20px;
                margin-top: auto;
                h6{
                    
            color: #367bf0;
            font-size: 16px;
                }

            }
        }
    }

}